<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  
    <property name="connection.url">jdbc:sap://lddbcxs.wdf.sap.corp:30215</property>
    <property name="connection.username">I324158</property>
    <property name="connection.password">Test1234567</property>
    <property name="hibernate.connection.driver_class">com.sap.db.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.HANAColumnStoreDialect</property>
  
    <property name="show_sql">true</property>
  
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">create</property>
  
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>
 
     <mapping class="com.sap.hana.hibernate.tutorial.setup.CaseAttr" />
     
 
</session-factory>
</hibernate-configuration>